.headermain{
border:solid;
background-color: #FF0000;

}
.paragraph1main{
border:solid;
background-color: #FFFFFF;
}
.paragraph2main{
border:solid;
background-color: #FF0000;
margin:;
}
.photo1main{
border:solid;
background-color: #FFFFFF;
	
}
.photo2main{
border:solid;
background-color: #FFFFFF;
	
}
.links{
border:solid;
background-color: #FFFFFF;	
}